<html>
<head>
  <%= csrf_meta_tag %>
    <bgsound src="#" id="soundeffect" loop="1" autostart="true" />
    <script type="text/javascript">
        var soundfile = "cartoon.mp3" //path to sound file, or pass in filename directly into playsound()

        function playsound(soundfile) {
            if (document.all && document.getElementById) {
                document.getElementById("soundeffect").src = "" //reset first in case of problems
                document.getElementById("soundeffect").src = soundfile
            }
        }

        function bindsound(tag, soundfile, masterElement) {
            if (!window.event) return
            var source = event.srcElement
            while (source != masterElement && source.tagName != "HTML") {
                if (source.tagName == tag.toUpperCase()) {
                    playsound(soundfile)
                    break
                }
                source = source.parentElement
            }
        }

</script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="/Scripts/jquery-1.7.js"></script>
    <script src="/Scripts/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="/Scripts/Engine.js"></script>
    <script src="/Scripts/Addons.js"></script>
    <script src="/Scripts/jqueryAlerts.js"></script>
    <script src="/facebox/facebox.js"></script>
    <link rel="stylesheet" type="text/css" href="/facebox/facebox.css" />
    <link rel="stylesheet" type="text/css" href="/StyleSheets/style1.css" />
    <link rel="stylesheet" type="text/css" href="/StyleSheets/jqueryAlerts.css" />
    <link rel="stylesheet" type="text/css" href="/StyleSheets/jquery-ui-1.8.16.custom.css" />
    <title>Tom & Jerry</title>
    <style type="text/css">
        #button
        {
            padding: .5em 1em;
            text-decoration: none;
        }
        .style1
        {
            width: 100%;
        }
        .style2
        {
            width: 78px;
        }
        .style3
        {
            text-align: center;
        }
        .container
        {
            width: 770px;
            margin: auto;
        }
        #content
        {
            border: 1px solid;
            width: 770px;
        }
        .board
        {
            margin: 20px;
            top: 40px;
            width: 160px;
            padding: 10px;
            height: 28px;
            border: 5px solid #660000;
            outline: 4px solid black;
            outline-offset: 10px;
        }
    </style>
    <script type="text/javascript">
      var json_data;
      <%unless @game.blank?%>
        //Load the game
        json_data = JSON.parse("<%=@game.to_json.gsub(/"/,"\\\"").html_safe%>");
        board = [];
        for(i in json_data.game.board){
           board[i] = json_data.game.board[i];
           //alert(board[i]);
        }
          lifeTom                   = json_data.game.lifeTom;
          lifeFelix                 = json_data.game.lifeFelix;
          scoreTom                  = json_data.game.scoreTom;
          scoreFelix                = json_data.game.scoreFelix;
          board                     = json_data.game.board;
          FelixX                    = json_data.game.FelixX;
          FelixY                    = json_data.game.FelixY;
          TomX                      = json_data.game.TomX;
          TomY                      = json_data.game.TomY;
          MouseX                    = json_data.game.MouseX;
          MouseY                    = json_data.game.MouseY;
          TomBombX                  = json_data.game.TomBombX;
          TomBombY                  = json_data.game.TomBombY;
          TomArrowX                 = json_data.game.TomArrowX;
          TomArrowY                 = json_data.game.TomArrowY;
          FelixBombX                = json_data.game.FelixBombX;
          FelixBombY                = json_data.game.FelixBombY;
          FelixArrowX               = json_data.game.FelixArrowX;
          FelixArrowY               = json_data.game.FelixArrowY;
          TomAddon                  = json_data.game.TomAddon;
          FelixAddon                = json_data.game.FelixAddon;
          Tom_bomb_activate         = json_data.game.Tom_bomb_activate;
          Felix_bomb_activate       = json_data.game.Felix_bomb_activate;
          Tom_bomb_explode          = json_data.game.Tom_bomb_explode;
          Felix_bomb_explode        = json_data.game.Felix_bomb_explode;
          Tom_arrow_activate        = json_data.game.Tom_arrow_activate;
          Felix_arrow_activate      = json_data.game.Felix_arrow_activate;
          TomBdir                   = json_data.game.TomBdir;
          FelixBdir                 = json_data.game.FelixBdir;
          TbombMove                 = json_data.game.TbombMove;
          TarrowMove                = json_data.game.TarrowMove;
          FbombMove                 = json_data.game.FbombMove;
          FarrowMove                = json_data.game.FarrowMove;
          TmoveCount                = json_data.game.TmoveCount;
          TAMCount                  = json_data.game.TAMCount;
          FmoveCount                = json_data.game.FmoveCount;
          FAMCount                  = json_data.game.FAMCount;
          TomBcount                 = json_data.game.TomBcount;
          TomAcount                 = json_data.game.TomAcount;
          FelixBcount               = json_data.game.FelixBcount;
          FelixAcount               = json_data.game.FelixAcount;
          TomBcheck                 = json_data.game.TomBcheck;
          TomAcheck                 = json_data.game.TomAcheck;
          FelixBcheck               = json_data.game.FelixBcheck;
          FelixAcheck               = json_data.game.FelixAcheck;
          checklife                 = json_data.game.checklife;
          tossWinner                = json_data.game.tossWinner;
      <%end%>
        $(function () {
            $("#dialog-modal").hide();
            $("#PauseDialog").hide();


            $('#nextLevel').click(function () {
                mapValue = mapValue + 1;
                window.location = 'game.html?Map=Map' + mapValue + '.txt&value=' + mapValue + '&TomScore=' + scoreTom + '&FelixScore=' + scoreFelix;
            });
        });

        function openModal() {
            // a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
            $("#dialog:ui-dialog").dialog("destroy");

            $("#dialog-modal").dialog({
                height: 200,
                modal: true,
                width: 50,
                closeOnEscape: true
            });
        }
        var abc;
        function do_login(){
          $.ajax({
                  url: "/sessions",
                  data: {username:$('#facebox').find("#user_name").val(), password:$('#facebox').find("#password").val()},
                  type: "POST",
                  context: this,
                  async : false,
                  dataType: "json",
                  success:function(data){
                    abc=data;
                      if(data["error"] != null){
                        alert(data["error"]);
                      }
                      else{
                        $("#dialog-modal").find("#logout td").show();
                        alert("Logged in successfully.");
                        $.facebox.close();
                        //jQuery.facebox({ div: '#save_form' });
                      }
                  },
                  error:function(jqXHR, textStatus, errorThrown){
                    abc = jqXHR;
                  }

              });
              return false;
        }
        function save()
        {
          //hide the menu
          jQuery('#dialog-modal').dialog('close');
          //test whether user is signed in or not
          $.ajax({
                  url: "/users/new",
                  data: {},
                  type: "GET",
                  context: this,
                  async : false,
                  dataType:"json",
                  success:function(data){
                    abc=data;
                      if(data == null){
                        jQuery.facebox({ div: '#login_form' });
                      }
                      else{
                        jQuery.facebox({ div: '#save_form' });
                      }
                  },
                  error:function(jqXHR, textStatus, errorThrown){
                    abc = jqXHR;
                  }

              });
          
        }

        function showCreate(){
          jQuery.facebox({ div: '#new_user_form' });
        }

        function do_create(){
          abc = this;
          $.ajax({
                  url: "/users",
                  data: {username:$('#facebox').find("#user_name").val(), password:$('#facebox').find("#password").val()},
                  type: "POST",
                  context: this,
                  async : false,
                  dataType: "json",
                  success:function(data){
                    abc=data;
                      if(data["error"] != null){
                        alert(data["error"]);
                      }
                      else{
                        alert("User Created Successfully.");
                        $.facebox.close();
                        //jQuery.facebox({ div: '#save_form' });
                      }
                  },
                  error:function(jqXHR, textStatus, errorThrown){
                    abc = jqXHR;
                  }

              });
              return false;
        }


        function do_save_game(){
          abc = this;
          var data_to_send = {
            game_name:$('#facebox').find("#game_name").val(),
            lifeTom:lifeTom,
            lifeFelix:lifeFelix,
            scoreTom:scoreTom,
            scoreFelix:scoreFelix,
            board : board,
            FelixX: FelixX,
            FelixY: FelixY,
            TomX: TomX,
            TomY: TomY,
            MouseX: MouseX,
            MouseY: MouseY,
            TomBombX: TomBombX,
            TomBombY: TomBombY,
            TomArrowX: TomArrowX,
            TomArrowY: TomArrowY,
            FelixBombX: FelixBombX,
            FelixBombY: FelixBombY,
            FelixArrowX: FelixArrowX,
            FelixArrowY: FelixArrowY,
            TomAddon: TomAddon,
            FelixAddon: FelixAddon,
            Tom_bomb_activate: Tom_bomb_activate,
            Felix_bomb_activate: Felix_bomb_activate,
            Tom_bomb_explode: Tom_bomb_explode,
            Felix_bomb_explode:  Felix_bomb_explode,
            Tom_arrow_activate: Tom_arrow_activate,
            Felix_arrow_activate: Felix_arrow_activate,
            TomBdir: TomBdir,
            FelixBdir: FelixBdir,
            TbombMove: TbombMove,
            TarrowMove: TarrowMove,
            FbombMove: FbombMove,
            FarrowMove: FarrowMove,
            TmoveCount: TmoveCount,
            TAMCount: TAMCount,
            FmoveCount: FmoveCount,
            FAMCount: FAMCount,
            TomBcount: TomBcount,
            TomAcount: TomAcount,
            FelixBcount: FelixBcount,
            FelixAcount: FelixAcount,
            TomBcheck: TomBcheck,
            TomAcheck: TomAcheck,
            FelixBcheck: FelixBcheck,
            FelixAcheck: FelixAcheck,
            checklife: checklife,
            tossWinner: tossWinner
          };
          $.ajax({
                  url: "/games",
                  data: data_to_send,
                  type: "POST",
                  context: this,
                  async : false,
                  dataType: "json",
                  success:function(data){
                    abc=data;
                      if(data["error"] != null){
                        alert(data["error"]);
                      }
                      else{
                        alert("Game Created Successfully.");
                        jQuery.facebox.close();
                        //jQuery.facebox({ div: '#save_form' });
                      }
                  },
                  error:function(jqXHR, textStatus, errorThrown){
                    abc = jqXHR;
                  }

              });
              return false;
        }

        var login=false;
        var crt=false;
        function do_login_or_create(){
          if(login){
            return do_login();
          }else{
            return do_create();
          }
        }

        function load(){
          //hide the menu
          jQuery('#dialog-modal').dialog('close');
          //test whether user is signed in or not
          $.ajax({
                  url: "/users/new",
                  data: {},
                  type: "GET",
                  context: this,
                  async : false,
                  dataType:"json",
                  success:function(data){
                    abc=data;

                      if(data == null){
                        jQuery.facebox({ div: '#login_form' });
                      }
                      else{
                        $.ajax({
                                url: "/games",
                                data: {},
                                type: "GET",
                                context: this,
                                async : false,
                                success:function(data){
                                },
                                complete:function(data){
                                  jQuery.facebox(data.responseText);
                                },
                                error:function(jqXHR, textStatus, errorThrown){
                                  abc = jqXHR;
                                }
                            });
                      }
                  },
                  error:function(jqXHR, textStatus, errorThrown){
                    abc = jqXHR;
                  }

              });
        }

        function logout(){
          //hide the menu
          jQuery('#dialog-modal').dialog('close');
          //test whether user is signed in or not
          $.ajax({
                  url: "/sessions/destroy",
                  data: {},
                  type: "DELETE",
                  context: this,
                  async : false,
                  dataType:"json",
                  success:function(data){
                    //alert("logged out successfully.");
                    $("#dialog-modal").find("#logout td").hide();
                  },
                  complete:function(data){
                    alert("logged out successfully.");
                    $("#dialog-modal").find("#logout td").hide();
                  },                  error:function(jqXHR, textStatus, errorThrown){
                    abc = jqXHR;
                  }

              });
        }

        $(document).ready(function(){
        $.ajaxSetup({
          beforeSend: function(xhr) {
            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
          }
        });
        init();
      });
    </script>
</head>
<body onload="">
    <div>
        <div class="style3" style="width: 150px; position: relative; top: 0%; float: left;">
            <div class="style3">
                Felix</div>
            <table class="style1" border="1">
                <tr>
                    <td class="style2">
                        Lives
                    </td>
                    <td id="LivesFelix">
                        3
                    </td>
                </tr>
                <tr>
                    <td class="style2">
                        Score
                    </td>
                    <td id="ScoreFelix">
                        0
                    </td>
                </tr>
                <tr>
                    <td class="style2">
                        Bombs
                    </td>
                    <td id="BombFelix">
                        10
                    </td>
                </tr>
                <tr>
                    <td class="style2" style="height: 150px; text-align: center;" colspan="2">
                        <img id="FelixAddon" src="/Images/white.png" style="width: 100%;" />
                        <div id="imgTDFelix">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="style3" style="width: 150px; position: relative; top: 0%; float: right;">
            <div class="style3">
                Tom</div>
            <table class="style1" border="1">
                <tr>
                    <td class="style2">
                        Lives
                    </td>
                    <td id="LivesTom">
                        3
                    </td>
                </tr>
                <tr>
                    <td class="style2">
                        Score
                    </td>
                    <td id="ScoreTom">
                        0
                    </td>
                </tr>
                <tr>
                    <td class="style2">
                        Bombs
                    </td>
                    <td id="BombTom">
                        10
                    </td>
                </tr>
                <tr>
                    <td class="style2" style="height: 150px; text-align: center;" colspan="2">
                        <img id="TomAddon" src="/Images/white.png" style="width: 100%;" />
                        <div id="imgTDTom">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div style="z-index: 999999; top: -8px; text-align: center; position: relative; font-size: 12px;">
        <a href="#" id="button" class="ui-state-default ui-corner-all" onclick="javascript:openModal();">
            Show Menu</a>
    </div>

  <div id="load_game_page" style="display:none;">
    <div id="games">
      Games
    </div>
  </div>

     <div id="login_form" style="display:none;">
        <%=form_tag "/sessions", :onsubmit=>"return do_login_or_create();" do%>
          <p>
              <%= label_tag "Username"%>
          </p>
          <p>
            <%= text_field_tag "user_name" %>
          </p>
          <p>
              <%= label_tag "Password"%>
          </p>
          <p>
            <%= password_field_tag "password" %>
          </p>
          <p>    <%= submit_tag "Login" , :onclick=>"login=true;crt=false;"%> or <%= submit_tag "Create Account" , :onclick=>"login=false;crt=true;"%>
          </p>
        <%end%>
    </div>

    <div id="save_form" style="display:none;">
        <%=form_tag "/games", :onsubmit=>"return do_save_game();" do%>
          <p>
              <%= label_tag "Game Name"%>
          </p>
          <p>
            <%= text_field_tag "game_name" %>
          </p>
          <p>
            <%=submit_tag "Save Game"%>
          </p>
        <%end%>
    </div>

    <div id="dialog-modal" title="Menu">
        <table class="style1">
            <tr>
                <td class="style2">
                    <a href="/main.html?Map=Map.txt" target="_self">Home</a>
                </td>
            </tr>
            <tr>
                <td class="style2">
                    <a href="/help.html" target="_self">Help</a>
                </td>
            </tr>
            <tr>
                <td class="style2">
                    <a href="javascript:save();" target="_self">Save</a>
                </td>
            </tr>
            <tr>
                <td class="style2">
                    <a href="javascript:load();" target="_self">Load</a>
                </td>
            </tr>
            <tr id="logout">
                <td class="style2">
                    <a href="javascript:logout();" target="_self">Logout</a>
                </td>
            </tr>

            <tr>
                <td class="style2">
                   <div id ="nextLevel" style="display:none; text-decoration:underline; cursor:pointer;">Next Level</div>
                </td>
            </tr>
        </table>
    </div>
    <div id="PauseDialog" title="Game Paused">
        <div>Hit 'P' to Resume</div>
    </div>
    <div class="container">
        <div style="width: 770px;">
            <div id="content" style="width: 770px; height: 630px; position: absolute; top: 0px;
                background-image: url(/Images/S.png);">
                <canvas id="canvas" width="700" height="560" style="position: absolute; top: 35px;
                    left: 35px"></canvas>
            </div>
        </div>
    </div>
</body>
</html>
